= render 'layouts/tweets'
<%=cat>
AZALEAグッズ情報 高槻かなこ体調不良
仙台前のりチケット払い戻し明日まで
今日までクーリングオフ
明日三菱UFJに被害届出して新たな請求先を電話
警察署にいき届け出を出す。駅への交通手段確
カード支払い情報更新手順に 合わせて提出書類
被害届連絡先警 察官の前で連絡を取りカード会社が仲介してくれる
番号を来週警察署に電話して出たら取りに行く目安月曜日か火曜日
 明日また連絡して受理番号を確認する。被害届をコピーして輸送へ
 ９８９鉄
 29バイオ角鉄
 30kkesson
 １.８１０

for i in 1..40 #1から40までの数字を繰り返し処理
    if i % 3 == 0 || i.to_s.include?("3") #3で割り切れるか3が含まれる数字であれば
        puts "いく負け!"
    else
        puts i #それ以外は数字を表示する
    end
end
