= render 'layouts/tweets'
<%=cat>
AZALEAグッズ情報 高槻かなこ体調不良

被害届連絡先警 察官の前で連絡を取りカード会社が仲介してくれる
番号を来週警察署に電話して出たら取りに行く目安月曜日か火曜日
 明日また連絡して受理番号を確認する。被害届をコピーして輸送へ
 ９８９鉄？
 29バイオ角鉄
 おでだけ、、和氣あず未生誕祭9/8ぐわー！ハマったー！
 １.８１０

 

for i in 1..40 #1から40までの数字を繰り返し処理
    if i % 3 == 0 || i.to_s.include?("3") #3で割り切れるか3が含まれる数字であれば
        puts "いく負け!"
    else
        puts i #それ以外は数字を表示する
    end
end
